body {
  padding: 0px;
  background-image: url('../images/lightprints.jpg');
}

a {
  color: #00B7FF;
}

.jumbotron{
  /* margin-top: 15px; */
  padding: 10px;
  /*
  assign these things when making the jumbotron:
  color: #ffffff;
  background-color: rgb(107, 71, 47);
  */
}

.btn.btn-primary {
  border-radius: 20px;
}