extends onedoglayout

block content
    center
        p 
        h1 Meet #{name}!
        p 
        p 
            b Breed: 
            | #{breed} 
        p 
            b Likes: 
            | #{likes}
        p  
        .w3-content(style='max-width:1200px')
            img.mySlides(src='images/cleo2.jpg' style='height:500px;')
            img.mySlides(src='images/cleo3.jpg' style='height:500px; display:none;')
            .w3-row-padding.w3-section
                .w3-col.s5
                    p 
                .w3-col.s1
                    img.demo.w3-opacity(src='images/cleo2.jpg' style='height:50px; cursor:pointer;' onclick='currentDiv(1)')
                .w3-col.s1
                    img.demo.w3-opacity(src='images/cleo3.jpg' style='height:50px; cursor:pointer;' onclick='currentDiv(2)')
                .w3-col.s5
                    p 
        script.
            function currentDiv(n) {
            showDivs(slideIndex = n);
            }
            function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demo");
            if (n > x.length) {slideIndex = 1}
            if (n < 1) {slideIndex = x.length}
            for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
            }
            x[slideIndex-1].style.display = "block";
            dots[slideIndex-1].className += " w3-opacity-off";
            }
        p         
        .row
            .col
            .col
                form(action="/dog1", method="POST")
                    button.btn.btn-primary(type="submit", style='background-color: #f783c3; border-color: #e36faf;') Love (#{loves})
            .col
                form(action="/dog2", method="GET")
                    button.btn.btn-primary(type="submit", style='background-color: #7a7a7a; border-color: #616161;') Next
        br 