doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')

    link(rel='icon', href='images/pawtrans.png')

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css', integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh', crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js' integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6' crossorigin='anonymous')

    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand
        img.d-inline-block.align-top(src='images/pawtrans.png' width='30' height='30' alt='')
        |     Furry Friends Adoption
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse
        ul.navbar-nav
            li.nav-item
                a.nav-link(href='/home') Home
            li.nav-item.active
                a.nav-link(href='/dogs')
                    | Dogs
                    span.sr-only (current)
            li.nav-item
                a.nav-link(href='/cats') Cats
            li.nav-item
                a.nav-link(href='/map') Map

    title= title

    body
        center
            .main
                br 
                h2 These lovable dogs are all in need of forever homes!
                p 
                br 
            .row
                .col 
                    .card(style='width: 15rem;')
                        a(href='/dog1')
                            img.card-img-top(src='images/cleo1.jpg')
                        .card-body
                            p.card-text
                                b 
                                    | Cleo
                .col 
                    .card(style='width: 15rem;')
                        a(href='/dog2')
                            img.card-img-top(src='images/daisy1.jpg')
                        .card-body
                            p.card-text
                                b 
                                    | Daisy
                .col 
                    .card(style='width: 15rem;')
                        a(href='/dog3')
                            img.card-img-top(src='images/ellie1.jpg')
                        .card-body
                            p.card-text
                                b 
                                    | Ellie
                
                .col 
                    .card(style='width: 15rem;')
                        a(href='/dog4')
                            img.card-img-top(src='images/finn1.jpg')
                        .card-body
                            p.card-text
                                b 
                                    | Finn
                .w-100
                br 
                .col 
                    .card(style='width: 15rem;')
                        a(href='/dog5')
                            img.card-img-top(src='images/george1.jpg')
                        .card-body
                            p.card-text
                                b 
                                    | George
                .col 
                    .card(style='width: 15rem;')
                        a(href='/dog6')
                            img.card-img-top(src='images/jed1.jpg')
                        .card-body
                            p.card-text
                                b 
                                    | Jed
                .col 
                    .card(style='width: 15rem;')
                        a(href='/dog7')
                            img.card-img-top(src='images/lily1.jpg')
                        .card-body
                            p.card-text
                                b 
                                    | Lily
                .col 
                    .card(style='width: 15rem;')
                        a(href='/dog8')
                            img.card-img-top(src='images/maggie1.JPG')
                        .card-body
                            p.card-text
                                b 
                                    | Maggie
                .w-100
                br 
                .col 
                    .card(style='width: 15rem;')
                        a(href='/dog9')
                            img.card-img-top(src='images/mickey1.jpg')
                        .card-body
                            p.card-text
                                b 
                                    | Mickey
                .col 
                    .card(style='width: 15rem;')
                        a(href='/dog10')
                            img.card-img-top(src='images/mochi1.jpg')
                        .card-body
                            p.card-text
                                b 
                                    | Mochi
                .col 
                    .card(style='width: 15rem;')
                        a(href='/dog11')
                            img.card-img-top(src='images/murphy1.jpg')
                        .card-body
                            p.card-text
                                b 
                                    | Murphy
                .col 
                    .card(style='width: 15rem;')
                        a(href='/dog12')
                            img.card-img-top(src='images/peanut1.jpg')
                        .card-body
                            p.card-text
                                b 
                                    | Peanut
                .w-100
                br
                .col 
                    .card(style='width: 15rem;')
                        a(href='/dog13')
                            img.card-img-top(src='images/remy1.JPG')
                        .card-body
                            p.card-text
                                b 
                                    | Remy
                .col 
                    .card(style='width: 15rem;')
                        a(href='/dog14')
                            img.card-img-top(src='images/westley1.jpg')
                        .card-body
                            p.card-text
                                b 
                                    | Westley
                .col
                .col 
            br 
            br 