extends layout

block content
  h1= message
  h2= error.status
  pre #{error.stack}

  .row
        .col-1
        .col-5
          img.rounded(src='images/kingcharlespuppies.jpg', style='width:100%;')
        .col-5
          .jumbotron(style='width: 100%; color: #000000; background-color: #ba9d86;')   
            img.float-right(src='images/pawtrans.png', style='width:50px;')
            h1
              b Furry Friends Adoption
            h5 Giving abandoned dogs and cats loving homes since 2020
        .col-1
