doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')

    link(rel='icon', href='images/pawtrans.png')

    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css', integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh', crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js' integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6' crossorigin='anonymous')

    link(rel='stylesheet', href='/stylesheets/style.css')

    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand
        img.d-inline-block.align-top(src='images/pawtrans.png' width='30' height='30' alt='')
        |     Furry Friends Adoption
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse
        ul.navbar-nav
            li.nav-item.active
                a.nav-link(href='/home')
                  | Home
                  span.sr-only (current)
            li.nav-item
                a.nav-link(href='/dogs') Dogs
            li.nav-item
                a.nav-link(href='/cats') Cats
            li.nav-item
                a.nav-link(href='/map') Map

    title= title

  body
    .main
      br 
      .row
        .col-3
        .col-6
          .jumbotron(style='width: 100%; color: #000000; background: none;')   
            img.float-right(src='images/pawtrans.png', style='width:50px;')
            h1
              b Furry Friends Adoption
            
            center 
              img.rounded(src='images/puppies.jpg', style='width:100%;')
              h5 Giving abandoned dogs and cats loving homes since 2020
        .col-3
      br 
      center
        .row 
          .col-2 
          .col-4
            .jumbotron(style='width: 100%; height: 80%; background-color: rgb(248, 248, 248); color: #000000; border-style: solid; border-radius: 5px; border-color: #b498e3;') 
              h4 
                | Are 
                b you
                |  ready to find your new best friend?
              p 
              form(action="/dogs", method="GET")
                button.btn.btn-lg.btn-primary(type="submit", style='background-color: #75bce0; border-color: #699bb5;') View Dogs 
              p 
          .col-4
            .jumbotron(style='width: 100%; height: 80%; background-color: rgb(248, 248, 248); color: #000000; border-style: solid; border-radius: 5px; border-color: #75bce0;') 
              h4 Don't want to travel too far? Check out the map to see availability in your area!
              p 
              form(action="/map", method="GET")
                button.btn.btn-lg.btn-primary(type="submit", style='background-color: #b498e3; border-color: #9378bf;') View Map
          .col-2
      br 